/* Estilos gerais */
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5efeb;
}

main {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, li {
    padding: 0;
    list-style: none;
}
a {
    color: black;
    text-decoration: none;
}


/* Estilos do cabeçalho */
header {
    background-color: #d9beab;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 8px #61584fc4;
}

.container {
    max-width: 1240px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.logo-img img {
    display: block;
    max-height: 90px;
    max-width: 100%;
    width: auto;
    height: auto;
    cursor: pointer;
}

#menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;

}

#menu a {
    transition: all .3s;
}

#menu li {
    font-size: 18px;
}

#menu a:hover {
    color: rgba(144, 111, 59, 0.806);
}

.banner img {
  max-width: 100%;
}

.line {
    border-top: 1px solid black;
    margin-bottom: 1rem;
    width: 80%;
}

.section-categoria {
    text-align: center;
    font-size: .8rem;
    font-weight: 100;
}

.section-title, .section-redes {
    margin-top: 2rem;
    text-transform: uppercase;
    font-family: "Montserrat";
    text-align: center;
    letter-spacing: .2rem;
}

/* Estilos da seção de produtos em destaque */

.section-produtos {
    display: flex;
}

.produtos {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.produto {
    background-color: #f2dfd4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
    width: 15rem;
    box-shadow: 2px 2px 3px #8b6c4b8a;
}

.produto img {
    max-width: 100%;
}

.produto-descricao {
    padding: .5rem .5rem 1rem;
}

.produto h3 {
    font-size: 1rem;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Montserrat";
    letter-spacing: 2px;
}


.btn-comprar {
    background-color: #6d4b34;
    text-transform: uppercase;
    color: #fff;
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: .5rem;
    letter-spacing: 2px;
    transition: all .3s;
    box-shadow: 2px 2px 5px #544949b0;
}

.preco-antes {
    text-decoration: line-through;
    font-size: .8rem;
    margin-bottom: .2rem;
}

.preco-depois {
    font-weight: bold;
    font-size: 1.4rem;
    margin: .2rem auto;
}

.preco-parcelado {
    margin-top: .2rem;
    font-size: .9rem;
}


.btn-comprar:hover {
    background: #907561;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-produtos {
    background-color: rgba(60, 41, 11, 0.824);
    padding: 1rem;
    border-radius: 1rem;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 200;
    color: white;
    letter-spacing: .2rem;
    cursor: pointer;
    transition: all .3s;
    margin-top: 1rem;
}

.botao-produtos:hover {
    background-color: rgba(121, 88, 34, 0.677);
}

/* REDES */

.redes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 2.5rem;
    cursor: pointer;
}

.rede {
    font-size: 2rem;
    transition: all .3s;
}

.rede-i {
    text-align: center;
    width: 100%;
}

.rede:hover {
    color: #aaa4a4;
}

.section-information {
    background-color: #d9beab;
    padding: 2rem 0 .5rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.section-information h3 {
    text-transform: uppercase;
}

.section-information ul li {
    padding: 0.3rem 0;
}

.section-information i {
    color: #f5efeb;
}

.section-information a {
    transition: all .3s;
}

.section-information a:hover {
    color: #f5efeb;
}

.section-information-informa {
    margin-bottom: 0;
}

/* Estilos do botão de WhatsApp */
#whatsapp-button {
    font-size: 2rem;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #25d366;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}

#whatsapp-button:hover {
    background-color: #049238;
}

footer {
    color: rgb(228, 228, 228);
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background: #bea08a;
    width: 100%;
    box-shadow: 1px 1px 8px #61584fc4;
}

/* Estilos para telas menores (móveis) */


@media (max-width: 1250px) {
    header {
        margin-bottom: 0;
    }

    .section-categoria {
        margin-top: 2rem;
    }
}

@media (max-width: 768px) {
    header {
        padding-bottom: 1.5rem;
    }

    .container {
        flex-direction: column;
        text-align: center;
    }

    #menu {
        margin-top: 10px;
        gap: 1.2rem;
    }

    #banner {
        content: url('/assets/imgs/banner-rotativo-mobile-1.png');
      }

      .section-information {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 4rem;
      }
}